/* 
# your_cves.css
#
# This Cascading Style Scheets file is used to generate 
# a web-server or standalone HTML file for Yocto CVE QA 
# and CVE overviews, with your CVEs JSON files as input 
# (generated in Yocto with your_cves_checks).
#
# Copyright (C) 2020 Mads Doré ApS, Denmark.
#
# This source is released under the MIT License.
#
# DISCLAIMER
#
# This class/tool is meant to be used as support and not
# the only method to check against CVEs. Running this tool
# doesn't guarantee your packages are free of CVEs. */

body {
  font-family: Helvetica;
}

ul {
  list-style-type: none;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  color: red;
}

div {
  border: 1px solid black;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  box-sizing: border-box; 
}

div.templates {
  display: none;
}

table, td {
  text-align: left;
}

/* -----------------------------------------------------------------------------------------
 * Header
 */     

div.header p {
  padding: 0;
  margin: 0;
  line-height: 2em;
}

div.header {
  clear: both;
  padding: 0px;  
  border: 0px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 30% 50%;
  
}

div.logo_holder {
  border: 0px;
  padding: 0px;  
  height: 100%;
  grid-column: 1;
}

div.action_container {
  padding: 0px;  
  border: 0px;
  height: 100%;
  grid-column: 2;
}

div.general_info {
  padding: 0px;  
  border: 0px;
  height: 100%;
  color: black;
  text-align: center;  
  vertical-align: middle;
  grid-column: 3; 
}

div.view_selector, div.file_loader {
  padding: 0px;  
  border: 0px;
  height: 100%;
  width: 100%
}

div.view_selector {
  display: none;
  text-align: center;  
}

div.file_loader_buttons {
  padding: 0px;  
  float: left;
  overflow: auto;
  color: black;
  border: 0px;
  height: 100%;
  width: 100%;
  text-align: center;  
}

/* -----------------------------------------------------------------------------------------
 * All rows of a Yocto recipe item in a list and sort-line. 
 */     
div.recipe_sortline,
div.recipe_headline,
div.cve_group_headline,
div.recipe_info,
div.recipe_details,
div.cve_item,
div.recipe_cves_sort,
div.yocto_view,
div.cve_view,
div.cve_sortline {
  clear: both;
  padding: 0px;  
  border: 0px;
  position: relative;
}

/* -----------------------------------------------------------------------------------------
 * First row and sort-line of a Yocto recipe item in a list. 
 */
div.recipe_sortline {
  font-weight: bold;
  background-color: powderblue;
}

div.recipe_headline, div.recipe_sortline {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 20% 15% 15%;
}

div.recipe_holder, div.recipe_sort {
  float: left;
  overflow: auto;
  grid-column: 1;
}

div.recipe {
  border: 0;
  float: left;
  height: 100%;
}

div.recipe_actions {
  border: 0;
  float: right;
  height: 100%;
}

div.version, div.version_sort {
  float: left;
  border-left: 0px;
  overflow: auto;
  color: black;
  grid-column: 2;
}

div.total_cves, div.yocto_cve_qa, div.total_cves_sort, div.yocto_cve_qa_sort {
  float: left;
  border-left: 0px;
  overflow: auto;
  color: black;
}

div.total_cves, div.total_cves_sort {
  padding: 0px;
  border-right: 0px;
  grid-column: 3;
}

div.yocto_cve_qa, div.yocto_cve_qa_sort {
  text-align: center;
  height: 100%;
  grid-column: 4;
}

div.yocto_qa_cve_errors {
  font-weight: bold;
}

div.yocto_qa_no_valid_eval {
  font-weight: bold;
}

div.yocto_qa_no_valid_review {
  font-weight: bold;
}

div.yocto_qa_ok {
  font-weight: bold;
}

div.total_unpatched, div.total_whitelisted, div.total_not_vulnerable, div.total_patched,
div.total_unpatched_sort, div.total_whitelisted_sort, div.total_not_vulnerable_sort, div.total_patched_sort {
  float: left;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;  
  overflow: auto;
  color: black;
  width: 25%;
  text-align: center;
  height: 100%
}
 
/* -----------------------------------------------------------------------------------------
 * Second row of a Yocto recipe item in a list. 
 */     
div.recipe_info {
  border: 1px solid black;
  border-top: 0px;
  display: grid;
  grid-template-columns: 50% 50%;
}

div.comments, div.yocto_qa_comments {
  overflow: auto;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

div.comments {
  border-right: 1px solid;
  grid-column: 1;
}

div.yocto_qa_comments {
  border-right: 0px;
  grid-column: 2;
}

p.small_heading {
  font-size: small;
  padding: 0;
  margin: 0;
  color: grey;  
  line-height: 1em;
}

.info_lead {
  color: grey;
}

/* -----------------------------------------------------------------------------------------
 * Third row of a Yocto recipe item in a list. 
 */  
div.recipe_details {
  border: 1px solid black;
  border-top: 0px;
  display: grid;
  grid-template-columns: 50% 50%;
}
   
div.recipe_cpes, div.recipe_cve_qa {
  overflow: auto;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
}
div.recipe_cpes {
  border-right: 1px solid;
  grid-column: 1;
}

div.recipe_cve_qa {
  border-right: 0px;
  grid-column: 2;
}

/* -----------------------------------------------------------------------------------------
 * Fourth row of a Yocto recipe item in a list. 
 */  
div.recipe_cves {
  clear: both;
  border-top: 0px;
  position: relative;
  padding: 4px;
  padding-bottom: 2px;
}

div.cve_item {
  border: 1px solid black;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 50% 20% 15%;
  grid-template-rows: auto auto auto auto auto auto;
  margin-bottom: 2px;
}

div.cve_status, div.cve_cpe_vendor_product, div.cve_vector, div.cve_cpe_version {
  overflow: auto;
  border-top: 0px;
  border-bottom: 1px solid;
  border-left: 0px;
  border-right: 0px;
}

div.cve_status {
  border-right: 1px solid;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

div.cve_cpe_vendor_product {
  border-right: 1px solid;
  grid-column: 2;
  grid-row: 1;
}

div.cve_vector {
  border-right: 1px solid;
  grid-column: 3;
  grid-row: 1;
}

div.cve_version {
  border-right: 0px;
  grid-column: 4;
  grid-row: 1;
}

div.cve_id, div.cve_V2_score, div.cve_V3_score, div.cve_modified {
  overflow: auto;
  border-top: 0px;
  border-bottom: 1px solid black;
  border-left: 0px;
  text-align: center;
}

div.cve_id {
  border-right: 1px solid;
  grid-column: 1;
  grid-row: 2;
}

div.cve_score {
  border: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 3;
}

div.cve_V2_score, div.cve_V3_score {
  float: left;
  border-left: 0px;
  border-top: 0px;
  overflow: auto;
  color: black;
  width: 50%;
  text-align: center;
  height: 100%
}

div.cvss_severity_no_known_cves, div.status_not_vulnerable, div.status_patched, div.yocto_qa_ok {
  background-color: #5cb85c;
  color: white;
}

div.cve_modified {
  grid-column: 1;
  grid-row: 4;
}

div.cve_info {
  border: 0;
  border-bottom: 1px solid;
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
}

div.cve_link {
  border: 0;
  border-bottom: 1px solid;
  grid-column: 1 / span 4;
  grid-row: 5;
}

div.cve_comments {
  border: 0;
  grid-column: 1 / span 4;
  grid-row: 6;
}

div.last_cve_line {
  border-bottom: 0px;
}

div.recipe_cves_sort {
  padding: 2px;  
  width: 100%
}

/* -----------------------------------------------------------------------------------------
 * First line in group of CVEs in CVE listing.
 */  
div.cve_group_headline, div.cve_group_header {
  padding: 0px;
  border: 1px solid black;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 10% 30% 10%;
}

div.cve_group_header {
  background-color: powderblue;
}

div.cve_cves {
  border-top: 0px;
}

div.cve_group_status, div.cve_group_status_actions, div.cve_group_total, div.cve_group_v3_score,
div.cve_group_status_header, div.cve_group_status_actions_header, div.cve_group_total_header, div.cve_group_v3_score_header {
  overflow: auto;
  border: 0px;
  height: 100%
}

div.cve_group_status, div.cve_group_status_header {
  grid-column: 1;
  text-align: left;
}

div.cve_group_status_actions, div.cve_group_status_actions_header {
  border-right: 1px solid;
  grid-column: 2;
  text-align: right;
}

div.cve_group_v3_score, div.cve_group_v3_score_header {
  padding: 0px;
  grid-column: 3;
  text-align: center;
}

div.cve_group_v3_score_header {
  border-right: 1px solid;
  grid-column: 3;
  text-align: center;
}

div.cve_group_total, div.cve_group_total_header {
  grid-column: 4;
  text-align: right;
}

div.cve_group_v3_critical, div.cve_group_v3_high, div.cve_group_v3_medium, div.cve_group_v3_low, div.cve_group_v3_none {
  float: left;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;  
  overflow: auto;
  color: black;
  width: 20%;
  text-align: center;
  height: 100%
}

div.cvss_V3_severity_none {
  background-color: #750f80;
  color: white;
}

div.cvss_V2_severity_low, div.cvss_V3_severity_low, div.status_whitelisted {
  background-color: #3c4c82;
  color: white;
}

div.cvss_V2_severity_medium, div.cvss_V3_severity_medium, div.yocto_qa_no_valid_review {
  background-color: #f6e053;
  color: white;
}

div.cvss_V2_severity_high, div.cvss_V3_severity_high, div.status_unpatched, div.yocto_qa_no_valid_eval {
  background-color: #f0a248;
  color: white;
}

div.cvss_V3_severity_critical, div.yocto_qa_cve_errors {
  background-color: #d9534f;
  color: white;
}


li {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
}
